<table class="table-auto">
    <thead>
      <tr>
        <th>apellido</th>
        <th>nombre</th>
        <th>Fecha</th>
        <th>direccion</th>
        <th>telefono</th>
        <th>pais</th>
      </tr>
    </thead>
    <tbody >
      <tr *ngFor="let item of persona">
        <td>{{item.apellido}}</td>
        <td>{{item.nombre}}</td>
        <td>{{item.fechaDeNacimiento | date:'dd/MM/yyyy' }}</td>
        <td>{{item.direccion}}</td>
        <td>{{item.telefono}}</td>
        <td>{{item.pais}}</td>
        <button class="button button--flex button--small button--link"  (click)="editPersona(item.id)">Editar</button>
        <button class="button button--flex button--small button--link"   (click)="deletePersona(item.id)">Borrar</button>
      </tr>
    </tbody>
  </table>

  <div *ngIf="isEditing">
    <form (submit)="updatePersona()">
        <input class="contact__input" type="text" name="apellido" [(ngModel)]="selectedPersona.apellido" placeholder="apellido">
        <input  class="contact__input" type="text" name="nombre" [(ngModel)]="selectedPersona.name" placeholder="nombre">
        <input  class="contact__input" type="date" name="fechaDeNacimiento" [(ngModel)]="selectedPersona.fechaDeNacimiento" placeholder="fechaDeNacimiento">
        <input  class="contact__input" type="text" name="direccion" [(ngModel)]="selectedPersona.direccion" placeholder="direccion">
        <input  class="contact__input" type="text" name="telefono" [(ngModel)]="selectedPersona.telefono" placeholder="telefono">
        <input  class="contact__input" type="text" name="pais" [(ngModel)]="selectedPersona.pais" placeholder="pais">
        <button class="button button--flex button--small button--link" type="submit">Guardar</button>
        <button class="button button--flex button--small button--link" type="button" (click)="cancelEdit()">Cancelar</button>
    </form>
</div>

<div  *ngIf="!isEditing" class="content grid">
    <form (submit)="createPersona()">
    <input class="contact__input" type="text" name="apellido" [(ngModel)]="newPersona.apellido" placeholder="apellido">
    <input  class="contact__input" type="text" name="nombre" [(ngModel)]="newPersona.nombre" placeholder="nombre">
    <input  class="contact__input" type="date" name="fechaDeNacimiento" [(ngModel)]="newPersona.fechaDeNacimiento" placeholder="fechaDeNacimiento">
    <input  class="contact__input" type="text" name="direccion" [(ngModel)]="newPersona.direccion" placeholder="direccion">
    <input  class="contact__input" type="text" name="telefono" [(ngModel)]="newPersona.telefono" placeholder="telefono">
    <input  class="contact__input" type="text" name="pais" [(ngModel)]="newPersona.pais" placeholder="pais">
    <button class="button button--flex button--small button--link" type="submit">Crear Persona</button>
    </form>
</div>